HELP.md
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/



### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Compilados
*.class

# Logs
*.log

# IDEs
.idea/
.vscode/
*.iml
.idea
*.iws
*.ipr

# Eclipse / Spring Tools
.classpath
.factorypath
.apt_generated
.project
.settings
.springBeans
.sts4-cache

# OS
.DS_Store
Thumbs.db

# Postman
postman/*.postman_environment.json
